{% extends 'portfolio/base.html' %}
{% block content %}
            <h1>Saravjeet's Portfolio</h1>

            {% for project in projects %}

            {% load static %}

            <a href="{% url 'blog:all_blogs' %}">Blog</a>

            <img src="{% static 'portfolio/index.jpg' %}",height=500, width=400>
            <a href="{% static 'portfolio/resume.pdf' %}">Resume</a>

            <h1>{{project.title}} </h1>
            <br>
            <p>{{project.description}}</p>
            <br>
            <img src ="{{project.image.url}}",height = 200, width=200>

            {% if project.url %}
            <a href="{{project.url}}" >Link</a>
            {% endif %}

            {% endfor %}
{% endblock %}